body{
    margin:0; 
    display: flex;
}
.container{
    width: 100vw;
    height: 100vh;
    border:10px solid black;
    display: flex; 
    margin-right: 5px;
    box-sizing: border-box;
    flex-direction: column;
    /* 이거빼면 가로로 반응형됨 */
}
.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin:2px;
}
#container1 {
    flex-wrap: wrap;
}
#container2 {
    flex-flow:column wrap;
    /* flex-direction과 flex_wrap을 한번에 지정 */
}